* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background: linear-gradient(to right, rgb(0, 115, 255), rgb(148, 48, 157));
    font-weight: bolder;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(nepal.webp);
    background-repeat: no-repeat; */
}


.navbar {
    width: 100%;
    height: 80px;
    background-color: #fee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 12px;
    letter-spacing: 2px;
    font-size: 18px;
}

.menu ul li a:hover {
    border-bottom: 4px solid #000;
    transition: 0.4s;
}

.signup a {
    cursor: default;
    text-decoration: none;
    color: transparent;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 30px;
    /* border: 2px solid #ff0000; */
}

.signup a:hover {
    background-color: transparent;
    transition: 0.6s;
}





.form-box {
    color: black;
    background-color: #fee;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    /* box-shadow: 0 2px 0px 5px rgba(0, 0, 0, 0.208); */
    overflow: hidden;
}

.btn-box {
    position: relative;
    margin: 30px 0 0 80px;
    display: flex;
    align-items: center;
    /* background-color: rgba(29, 53, 119, 0.76); */
    width: 300px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.305);
}

.toggle-btn {
    color: rgb(44, 41, 41);
    font-size: 20px;
    position: relative;
    padding: 10px 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    background-image: linear-gradient(to right, rgb(14, 38, 104), rgb(53, 98, 220));
    border-radius: 30px;
    transition: .7s;
}

.input-group {
    position: absolute;
    top: 30%;
    width: 300px;
    transition: .7s;
    margin-left: 50%;
    transform: translateX(-50%);
}

.input-field {
    color: black;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 22px;
}

.submit-btn {
    color: rgba(255, 255, 255, 0.585);
    width: 70%;
    border-radius: 30px;
    padding: 10px 25px;
    margin-left: 20px;
    background-image: linear-gradient(to right, rgb(5, 30, 97), rgb(53, 98, 220));
    border: none;
    outline: none;
    font-size: 20px;
    display: block;
    cursor: pointer;
    transition: 0.6s;
}

.submit-btn:hover {
    background-color: white;
    color: black;
}



.check-box {
    margin: 30px 10px 30px 0;
}

#register {
    left: 450px;
}
.content{
    margin-top: 130px;
}